@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: #5865F2;
  }
}

/* Custom Scrollbar for Discord feel */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2b2d31;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1a1b1e;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #111214;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #313338;
}